<a href="https://colab.research.google.com/github/Brandt-moreThan4/Knowledge_Repo/blob/main/wrds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* [WRDS Python DOCS](https://wrds-www.wharton.upenn.edu/documents/1443/wrds_connection.html)
* [CRSP DOCS](https://www.crsp.org/documentation)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set_theme()
import statsmodels.formula.api as smf
import wrds
from pathlib import Path
import warnings

# warnings.filterwarnings("ignore")
# pd.set_option('display.float_format', lambda x: '%.5f' % x)

[FRED API](https://github.com/mortada/fredapi)

You can find the series' id by looking at the graph on FRED's website. The id is in parenthese after the title, in the yellow banner towards the top.

* [3-Month Treasury](https://fred.stlouisfed.org/series/DGS3MO)

In [ ]:
from fredapi import Fred
fred = Fred(api_key='37eb22bada238c97f282715480e7d897')

three_month = fred.get_series('DGS3MO')
# three_month

In [ ]:
# Connect to words. You'll need to input your username and password here.
db = wrds.Connection(wrds_username='bgreen41')

Loading library list...
Done

Create WRDS directory

In [ ]:
# libs = pd.Series(db.list_libraries())
# tables = db.list_tables('crsp')

# dicky = {}

# for lib in libs:
#     tables = db.list_tables(lib)
#     dicky[lib] = tables

# lists = []

# for lib, tables in dicky.items():
#     lists.append([lib] + tables)

# df = pd.DataFrame(lists)
# df.T.to_csv('wrds.csv')

### CRSP

[Daily Stock](https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/annual-update/stock-security-files/daily-stock-file/)

In [ ]:
query_string = f"""SELECT * FROM crsp.dsf order by date, permno desc LIMIT 5"""
df = db.raw_sql(query_string)
df

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,vol,ret,bid,ask,shrout,cfacpr,cfacshr,openprc,numtrd,retx
0,69499890,75471.00000,25928.00000,0.00000,1.00000,3490.00000,1925-12-31,31.00000,33.00000,-32.00000,0.00000,None,31.00000,33.00000,70.00000,4.81026,4.00000,NaN,None,None
1,79199190,58368.00000,23217.00000,0.00000,1.00000,4000.00000,1925-12-31,64.00000,67.62500,67.62500,5400.00000,None,67.25000,67.62500,164.00000,1.00000,1.00000,64.00000,None,None
2,55917610,28513.00000,23547.00000,0.00000,1.00000,3331.00000,1925-12-31,42.37500,43.00000,43.00000,500.00000,None,42.75000,43.00000,408.00000,4.88483,4.50655,42.37500,None,None
3,06099090,27692.00000,23497.00000,0.00000,1.00000,6711.00000,1925-12-31,44.75000,45.25000,45.00000,400.00000,None,43.75000,44.75000,77.00000,2.41988,2.14200,44.75000,None,None
4,05900310,27561.00000,23488.00000,0.00000,1.00000,4011.00000,1925-12-31,93.75000,94.12500,93.87500,4900.00000,None,93.75000,94.00000,1519.00000,1.05069,1.00000,94.00000,None,None

[CRSP Stock Events](https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/annual-update/stock-events/distribution/)

In [ ]:
query_string = f"""SELECT * from crsp.dsedist LIMIT 5"""
df = db.raw_sql(query_string)
df

,permno,distcd,divamt,facpr,facshr,dclrdt,exdt,rcrddt,paydt,acperm,accomp,permco,compno,issuno,hexcd,hsiccd,cusip
0,10001.00000,1232.00000,0.09500,0.00000,0.00000,1986-02-07,1986-03-10,1986-03-14,1986-03-28,0.00000,0.00000,7953.00000,60007906.00000,10398.00000,2.00000,4925.00000,36720410
1,10001.00000,1232.00000,0.10500,0.00000,0.00000,1986-05-29,1986-06-09,1986-06-13,1986-06-27,0.00000,0.00000,7953.00000,60007906.00000,10398.00000,2.00000,4925.00000,36720410
2,10001.00000,1232.00000,0.10500,0.00000,0.00000,1986-08-21,1986-09-08,1986-09-12,1986-09-26,0.00000,0.00000,7953.00000,60007906.00000,10398.00000,2.00000,4925.00000,36720410
3,10001.00000,1232.00000,0.10500,0.00000,0.00000,1986-11-06,1986-12-08,1986-12-12,1986-12-31,0.00000,0.00000,7953.00000,60007906.00000,10398.00000,2.00000,4925.00000,36720410
4,10001.00000,1232.00000,0.10500,0.00000,0.00000,1987-02-14,1987-03-09,1987-03-13,1987-03-27,0.00000,0.00000,7953.00000,60007906.00000,10398.00000,2.00000,4925.00000,36720410

[CRSP Stock Info](https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/annual-update/stock-security-files/stock-header-info/)

In [ ]:
query_string = f"""SELECT * from crsp.dsfhdr where htsymbol = 'AAPL' order by endprc LIMIT 5"""
df = db.raw_sql(query_string)
df

,permno,permco,hshrcd,dlstcd,hcusip,htick,hcomnam,htsymbol,hnaics,hprimexc,...,begvol,endvol,begbid,endbid,begask,endask,begopr,endopr,hsicmg,hsicig
0,14593.00000,7.00000,11.00000,100.00000,03783310,AAPL,APPLE INC,AAPL,334220,Q,...,1982-11-01,2020-12-31,1982-11-01,2020-12-31,1982-11-01,2020-12-31,1992-06-15,2020-12-31,35.00000,357.00000

[CRSP Delisting](https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/annual-update/stock-events/delist/)

In [ ]:
query_string = f"""SELECT * from crsp.dsedelist LIMIT 5"""
df = db.raw_sql(query_string)
df

,permno,dlstdt,dlstcd,nwperm,nwcomp,nextdt,dlamt,dlretx,dlprc,dlpdt,dlret,permco,compno,issuno,hexcd,hsiccd,cusip,acperm,accomp
0,10000.00000,1987-06-11,560.00000,0.00000,0.00000,1987-06-12,0.21875,0.00000,-0.21875,1987-06-12,0.00000,7952.00000,60007905.00000,10396.00000,3.00000,3990.00000,68391610,None,None
1,10001.00000,2017-08-03,233.00000,0.00000,0.00000,None,13.10000,0.00000,0.00000,2017-08-04,0.00000,7953.00000,60007906.00000,10398.00000,2.00000,4925.00000,36720410,None,None
2,10002.00000,2013-02-15,231.00000,35263.00000,1658.00000,None,3.01250,0.01091,0.00000,2013-02-19,0.01091,7954.00000,60007907.00000,10399.00000,3.00000,6020.00000,05978R10,None,None
3,10003.00000,1995-12-15,231.00000,10569.00000,8477.00000,None,5.44880,-0.00365,0.00000,1995-12-18,-0.00365,7957.00000,60007910.00000,10404.00000,3.00000,6020.00000,39031810,None,None
4,10004.00000,1986-01-17,575.00000,0.00000,0.00000,None,0.00000,NaN,0.00000,None,NaN,7960.00000,60007913.00000,10407.00000,3.00000,5330.00000,18906310,None,None

[CRSP: S&P 500 Monthly](https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/annual-update/stock-events/delist/)

In [ ]:
query_string = f"""SELECT * from crsp.msp500 order by caldt desc"""
df = db.raw_sql(query_string)
df

,caldt,vwretd,vwretx,ewretd,ewretx,totval,totcnt,usdval,usdcnt,spindx,sprtrn
0,2020-12-31,0.041573,0.040138,0.041983,0.040013,3.316123e+10,505.0,3.188142e+10,505.0,3756.07,0.037121
1,2020-11-30,0.109403,0.107623,0.146694,0.144448,3.134915e+10,505.0,2.830232e+10,504.0,3621.63,0.107546
2,2020-10-30,-0.026409,-0.027507,-0.006164,-0.007288,2.830984e+10,505.0,2.907330e+10,505.0,3269.96,-0.027666
3,2020-09-30,-0.038151,-0.039366,-0.025198,-0.027038,2.906985e+10,505.0,3.028665e+10,505.0,3363.00,-0.039228
4,2020-08-31,0.072068,0.070308,0.045357,0.043174,3.025198e+10,505.0,2.825184e+10,505.0,3500.31,0.070065
...,...,...,...,...,...,...,...,...,...,...,...
1136,1926-04-30,0.038522,0.034856,0.031441,0.027121,1.450048e+07,89.0,1.401208e+07,82.0,11.72,0.022688
1137,1926-03-31,-0.057708,-0.062007,-0.067915,-0.073275,1.401208e+07,89.0,1.471289e+07,81.0,11.46,-0.059113
1138,1926-02-27,-0.033296,-0.037876,-0.039979,-0.042451,1.471289e+07,89.0,1.527766e+07,81.0,12.18,-0.043956
1139,1926-01-30,-0.001783,-0.003980,0.006457,0.003250,1.527766e+07,89.0,1.523683e+07,79.0,12.74,0.022472
1140,1925-12-31,NaN,NaN,NaN,NaN,1.523683e+07,89.0,NaN,NaN,12.46,NaN

[CRSP: S&P 500 Daily]()

In [ ]:
query_string = f"""SELECT * from crsp.dsp500 order by caldt desc LIMIT 100"""
df = db.raw_sql(query_string)
df

,caldt,vwretd,vwretx,ewretd,ewretx,totval,totcnt,usdval,usdcnt,spindx,sprtrn
0,2020-12-31,0.006367,0.006290,0.007515,0.007359,3.316123e+10,505.0,3.295347e+10,505.0,3756.07,0.006439
1,2020-12-30,0.001475,0.001364,0.006731,0.006487,3.295347e+10,505.0,3.290859e+10,505.0,3732.04,0.001342
2,2020-12-29,-0.002240,-0.002240,-0.004992,-0.004992,3.290859e+10,505.0,3.298247e+10,505.0,3727.04,-0.002227
3,2020-12-28,0.008938,0.008938,0.002918,0.002918,3.298247e+10,505.0,3.269030e+10,505.0,3735.36,0.008723
4,2020-12-24,0.003623,0.003520,0.002365,0.002262,3.269030e+10,505.0,3.257564e+10,505.0,3703.06,0.003537
...,...,...,...,...,...,...,...,...,...,...,...
95,2020-08-17,0.002937,0.002915,-0.000615,-0.000664,2.921122e+10,505.0,2.912623e+10,505.0,3381.99,0.002710
96,2020-08-14,-0.000052,-0.000123,0.002450,0.002345,2.912623e+10,505.0,2.912982e+10,505.0,3372.85,-0.000172
97,2020-08-13,-0.001655,-0.001928,-0.004840,-0.005237,2.912982e+10,505.0,2.918597e+10,505.0,3373.43,-0.002047
98,2020-08-12,0.014106,0.013963,0.006204,0.006094,2.918597e+10,505.0,2.878409e+10,505.0,3380.35,0.013997
99,2020-08-11,-0.008020,-0.008025,-0.001109,-0.001122,2.878409e+10,505.0,2.901696e+10,505.0,3333.69,-0.007969

Below cell is just there to prove that the monthly returns in the monthly database do in fact match the returns of the daily database if you aggregate the monthly returns.

In [ ]:
# df['date'] = pd.to_datetime(df.caldt)
# df['rets'] = df['sprtrn'] + 1
# df['year'] = df.date.dt.year
# df['month'] = df.date.dt.month
# df.groupby(['year','month'])['rets'].prod()-1

[CRSP: Treasury and Inflation Indexes - Monthly](https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/annual-update/index-treasury-and-inflation/us-treasury-and-inflation-indexes/)

In [ ]:
query_string = f"""SELECT * from crsp.mcti order by caldt desc LIMIT 5"""
df = db.raw_sql(query_string)
df

,caldt,b30ret,b30ind,b20ret,b20ind,b10ret,b10ind,b7ret,b7ind,b5ret,...,b2ret,b2ind,b1ret,b1ind,t90ret,t90ind,t30ret,t30ind,cpiret,cpiind
0,2020-12-31,-0.019275,3757.491,-0.015264,4303.666,-0.004965,2898.534,-0.001264,3050.697,0.000855,...,0.000738,1591.196,0.000297,1351.374,0.000054,1029.803,0.000060,837.5015,0.000941,612.8799
1,2020-11-30,0.022611,3831.341,0.013150,4370.376,0.004016,2912.997,0.004213,3054.557,0.001938,...,0.000574,1590.023,0.000520,1350.972,0.000096,1029.747,0.000066,837.4510,-0.000611,612.3034
2,2020-10-30,-0.046769,3746.626,-0.026512,4313.651,-0.017311,2901.346,-0.010450,3041.743,-0.004806,...,-0.000383,1589.110,-0.000086,1350.270,0.000067,1029.648,0.000073,837.3958,0.000415,612.6776
3,2020-09-30,0.005791,3930.449,0.003967,4431.129,0.002560,2952.456,0.002053,3073.865,0.000236,...,-0.000174,1589.719,0.000174,1350.386,0.000099,1029.579,0.000076,837.3346,0.001393,612.4234
4,2020-08-31,-0.067580,3907.819,-0.036980,4413.620,-0.014709,2944.917,-0.006071,3067.567,-0.001671,...,-0.000208,1589.996,0.000005,1350.151,0.000069,1029.477,0.000079,837.2710,0.003153,611.5717

[CRSP: Treasuries - Daily](https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/annual-update/treasuries/daily-time-series/)

Monthly is also available

In [ ]:
query_string = f"""SELECT * from crsp.tfz_dly order by caldt desc LIMIT 5"""
df = db.raw_sql(query_string)
df

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,204093.0,20281115.105250,2020-12-31,134.742188,134.789062,134.765625,M,I,0.667127,0.000107,1.921168e-05,2458.866576,7946.0,10947.0,0.0,None,None
1,204087.0,20260815.106750,2020-12-31,135.000000,135.046875,135.023438,M,I,2.531250,0.000133,1.202535e-05,1759.824636,3780.0,8810.0,0.0,None,None
2,204088.0,20261115.106500,2020-12-31,134.843750,134.890625,134.867188,M,I,0.825967,0.000132,1.293830e-05,1858.912612,4591.0,10860.0,0.0,None,None
3,204075.0,20210215.107870,2020-12-31,100.968750,100.992188,100.980469,M,I,2.953125,0.000206,8.170302e-07,46.000000,3022.0,10076.0,0.0,None,None
4,206339.0,20220215.202000,2020-12-31,102.109375,102.140625,102.125000,M,I,0.750000,0.000053,2.993410e-06,405.665130,29036.0,74200.0,0.0,None,None

[CRSP: Treasuries - Monthly Risk Free. 1-month and 3-month](https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/annual-update/treasuries/riskfree-series-1-month-and-3-month/)

For even shorter-dated treasuries: [https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/annual-update/treasuries/riskfree-series-4-13-and-26-week/](https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/annual-update/treasuries/riskfree-series-4-13-and-26-week/)

In [ ]:
query_string = f"""SELECT * from crsp.tfz_mth_rf order by mcaldt desc LIMIT 5"""
df = db.raw_sql(query_string)
df

,kytreasnox,mcaldt,rmtreasno,rmcrspid,tmbidytm,tmaskytm,tmytm,tmduratn
0,2000001.0,2020-12-31,207586.0,20210202.400000,0.055765,0.045626,0.050696,33.0
1,2000002.0,2020-12-31,207605.0,20210401.400000,0.086190,0.070979,0.078584,91.0
2,2000001.0,2020-11-30,207455.0,20201231.400000,0.076044,0.065905,0.070974,31.0
3,2000002.0,2020-11-30,207601.0,20210302.400000,0.086190,0.070979,0.078584,92.0
4,2000001.0,2020-10-30,207553.0,20201201.400000,0.081114,0.070974,0.076044,32.0

[CRSP: Stock Evens - Historical Descriptive Information](https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/monthly-update/stock-events/names/)

In [ ]:
query_string = f"""SELECT * from crsp.dse LIMIT 5"""
df = db.raw_sql(query_string)
df

,event,date,hsicmg,hsicig,comnam,cusip,dclrdt,dlamt,dlpdt,dlstcd,...,dlretx,dlprc,dlret,shrout,shrenddt,trtscd,trtsendt,nmsind,mmcnt,nsdinx
0,NASDIN,1986-01-06,39.0,399.0,None,68391610,None,None,None,None,...,None,None,None,NaN,None,4.0,1986-01-06,1.0,0.0,1.0
1,NAMES,1986-01-07,39.0,399.0,OPTIMUM MANUFACTURING INC,68391610,None,None,None,None,...,None,None,None,NaN,None,NaN,None,NaN,NaN,NaN
2,NASDIN,1986-01-07,39.0,399.0,None,68391610,None,None,None,None,...,None,None,None,NaN,None,1.0,1986-01-09,1.0,9.0,2.0
3,SHARES,1986-01-07,39.0,399.0,None,68391610,None,None,None,None,...,None,None,None,3680.0,1986-01-30,NaN,None,NaN,NaN,NaN
4,NASDIN,1986-01-10,39.0,399.0,None,68391610,None,None,None,None,...,None,None,None,NaN,None,1.0,1986-01-22,1.0,10.0,2.0

[CRSP Mutual Funds - Summary](https://wrds-www.wharton.upenn.edu/pages/get-data/center-research-security-prices-crsp/quarterly-update/mutual-funds/fund-summary/)

**Extract Small-Cap Value Funds' tickers from (crsp_fund_summary)**

Small-Cap value funds are designate by lipper_class "SCVE"

In [ ]:
fund_summary = db.raw_sql("""SELECT caldt, crsp_fundno, ticker, fund_name, lipper_class_name from crsp.fund_summary2 
                          WHERE lipper_class = 'SCVE'""", date_cols=['caldt'])

**Extract Monthly Return and Monthly Total Net Asset for All Funds from (crsp_q_mutualfunds)**

The summary table above only has quarterly info, we snag the monthly returns and total fund assets from the following two databases, then join everything together in one happy dataframe.

In [ ]:
# fund_return = db.raw_sql('select caldt, crsp_fundno, mret from crsp_q_mutualfunds.monthly_returns;', 
#                          date_cols=['caldt'])
# fund_tna = db.raw_sql('select caldt, crsp_fundno, mtna from crsp_q_mutualfunds.monthly_tna;', 
#                          date_cols=['caldt'])

# ret_tna = pd.merge(fund_return, fund_tna, left_on = ['caldt','crsp_fundno'], right_on = ['caldt','crsp_fundno'])

# df = fund_summary.merge(ret_tna, how='left',on=['crsp_fundno'])
# df = df.drop(columns=['caldt_x']).rename(columns={"caldt_y": "caldt"})

## Compustat

[COMP: Security Daily](https://wrds-www.wharton.upenn.edu/pages/get-data/compustat-capital-iq-standard-poors/compustat/north-america-daily/security-daily/)

In [ ]:
query_string = f"""SELECT * from comp.secd LIMIT 5"""
df = db.raw_sql(query_string)
df

,gvkey,iid,datadate,tic,cusip,conm,curcddv,capgn,cheqv,div,...,prchd,prcld,prcod,prcstd,trfd,exchg,secstat,tpci,cik,fic
0,001001,01,1983-12-30,AMFD.,000165100,A & M FOOD SERVICES INC,None,None,None,None,...,7.25,7.25,None,3.0,None,14.0,I,0,0000723576,USA
1,001001,01,1984-01-03,AMFD.,000165100,A & M FOOD SERVICES INC,None,None,None,None,...,7.25,7.25,None,3.0,None,14.0,I,0,0000723576,USA
2,001001,01,1984-01-04,AMFD.,000165100,A & M FOOD SERVICES INC,None,None,None,None,...,7.50,7.50,None,3.0,None,14.0,I,0,0000723576,USA
3,001001,01,1984-01-05,AMFD.,000165100,A & M FOOD SERVICES INC,None,None,None,None,...,7.50,7.50,None,3.0,None,14.0,I,0,0000723576,USA
4,001001,01,1984-01-06,AMFD.,000165100,A & M FOOD SERVICES INC,None,None,None,None,...,7.50,7.50,None,3.0,None,14.0,I,0,0000723576,USA

In [ ]:
df.columns

Index(['gvkey', 'iid', 'datadate', 'tic', 'cusip', 'conm', 'curcddv', 'capgn',
       'cheqv', 'div', 'divd', 'divdpaydateind', 'divrc', 'divsp', 'dvrated',
       'paydateind', 'anncdate', 'capgnpaydate', 'cheqvpaydate', 'divdpaydate',
       'divrcpaydate', 'divsppaydate', 'paydate', 'recorddate', 'curcdd',
       'adrrc', 'ajexdi', 'cshoc', 'cshtrd', 'dvi', 'eps', 'epsmo', 'prccd',
       'prchd', 'prcld', 'prcod', 'prcstd', 'trfd', 'exchg', 'secstat', 'tpci',
       'cik', 'fic'],
      dtype='object')

[COMP: Fundamentals Quarterly](https://wrds-www.wharton.upenn.edu/pages/get-data/compustat-capital-iq-standard-poors/compustat/north-america-daily/fundamentals-quarterly/)

In [ ]:
query_string = f"""SELECT * from comp.fundq LIMIT 5"""
df = db.raw_sql(query_string)
df

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,costat,fic,cshtrq,dvpspq,dvpsxq,mkvaltq,prccq,prchq,prclq,adjex
0,001000,1966-03-31,1966.0,1.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
1,001000,1966-06-30,1966.0,2.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
2,001000,1966-09-30,1966.0,3.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
3,001000,1966-12-31,1966.0,4.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
4,001000,1967-03-31,1967.0,1.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999