# Using Yahoo Finance API

[Github Link](https://github.com/ranaroussi/yfinance)

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

# pd.set_option('display.float_format', lambda x: '%.4f' % x);
pd.options.display.float_format = '{:,.4f}'.format

# pd.set_option('display.max_rows', 500)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)
# sns.set(rc={'figure.figsize':(11.7,8.27)})

In [2]:
from typing import Iterable

def make_frame(vals:Iterable, row_length:int=7) -> pd.DataFrame:
    col_length = len(vals)//row_length+1
    array = np.zeros(shape=(row_length,col_length))
    array[:,:] = np.nan
    array = array.tolist()
    
    val_counter = 0
    for col in range(col_length):
        for row in range(row_length):
            array[row][col] = vals[val_counter]
            val_counter += 1
            if val_counter == len(vals):
                return pd.DataFrame(array)

In [3]:
msft = yf.Ticker('msft')

In [4]:
make_frame(list(msft.info.keys()))

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,zip,country,profitMargins,recommendationKey,returnOnAssets,totalDebt,exchange,quoteType,enterpriseToEbitda,annualReportExpenseRatio,...,enterpriseValue,morningStarOverallRating,lastCapGain,regularMarketOpen,averageDailyVolume10Day,expireDate,currency,volumeAllCurrencies,fiftyTwoWeekHigh,bidSize
1,sector,companyOfficers,grossMargins,grossProfits,numberOfAnalystOpinions,totalRevenue,shortName,symbol,52WeekChange,totalAssets,...,priceHint,earningsQuarterlyGrowth,shortPercentOfFloat,twoHundredDayAverage,regularMarketPreviousClose,algorithm,trailingPE,strikePrice,fromCurrency,dayHigh
2,fullTimeEmployees,website,operatingCashflow,freeCashflow,targetMeanPrice,totalCashPerShare,longName,messageBoardId,morningStarRiskRating,bookValue,...,threeYearAverageReturn,priceToSalesTrailing12Months,sharesShortPriorMonth,trailingAnnualDividendYield,fiftyDayAverage,dividendRate,regularMarketVolume,averageVolume,fiveYearAvgDividendYield,regularMarketPrice
3,longBusinessSummary,maxAge,revenueGrowth,targetMedianPrice,debtToEquity,financialCurrency,exchangeTimezoneName,market,forwardEps,sharesShort,...,lastSplitDate,dateShortInterest,impliedSharesOutstanding,payoutRatio,trailingAnnualDividendRate,exDividendDate,lastMarket,dayLow,fiftyTwoWeekLow,preMarketPrice
4,city,address1,operatingMargins,currentPrice,returnOnEquity,revenuePerShare,exchangeTimezoneShortName,annualHoldingsTurnover,revenueQuarterlyGrowth,sharesPercentSharesOut,...,lastSplitFactor,pegRatio,category,volume24Hr,open,circulatingSupply,maxSupply,ask,bid,logo_url
5,phone,industry,ebitda,earningsGrowth,targetHighPrice,quickRatio,isEsgPopulated,enterpriseToRevenue,sharesOutstanding,fundFamily,...,legalType,ytdReturn,fiveYearAverageReturn,regularMarketDayHigh,toCurrency,startDate,openInterest,askSize,tradeable,trailingPegRatio
6,state,ebitdaMargins,targetLowPrice,currentRatio,totalCash,recommendationMean,gmtOffSetMilliseconds,beta3Year,fundInceptionDate,lastFiscalYearEnd,...,lastDividendDate,forwardPE,previousClose,navPrice,averageVolume10days,regularMarketDayLow,marketCap,volume,dividendYield,NaN

In [5]:
msft.info['currentPrice']

273.24

In [6]:
msft.info['trailingPE']

28.52192

In [7]:
msft.info['profitMargins']

0.37627998

In [8]:
df_history = msft.history(period="max")

In [9]:
df_history[df_history['Stock Splits'] != 0]

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
1987-09-21  0.2335  0.2499  0.2313  0.2335   85550400     0.0000        2.0000
1990-04-16  0.5325  0.5391  0.5249  0.5303   39470400     0.0000        2.0000
1991-06-27  0.8872  0.8937  0.8741  0.8905   56510400     0.0000        1.5000
1992-06-15  1.4732  1.5321  1.4732  1.4879   54940800     0.0000        1.5000
1994-05-23  1.9250  2.0035  1.9053  1.9863   74947200     0.0000        2.0000
1996-12-09  6.1579  6.4329  6.1284  6.4230   94718400     0.0000        2.0000
1998-02-23 12.7184 12.8363 12.4729 12.8265  120803600     0.0000        2.0000
1999-03-29 28.3243 29.1099 27.6171 29.0314   79777000     0.0000        2.0000
2003-02-18 15.4750 15.7076 15.3367 15.6887   57415500     0.0000        2.0000

In [10]:
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",621598157,2022-03-30,0.0831,191644927784
1,Blackrock Inc.,523749870,2022-03-30,0.0700,161477322419
2,State Street Corporation,300098242,2022-03-30,0.0401,92523288991
3,"FMR, LLC",210344695,2022-03-30,0.0281,64851372915
4,Price (T.Rowe) Associates Inc,195303799,2022-03-30,0.0261,60214114269
5,"Geode Capital Management, LLC",133424701,2022-03-30,0.0178,41136169565
6,Capital World Investors,104707015,2022-03-30,0.0140,32282219794
7,Northern Trust Corporation,86713343,2022-03-30,0.0116,26734590780
8,Capital International Investors,86682397,2022-03-30,0.0116,26725049819
9,Capital Research Global Investors,86423951,2022-03-30,0.0116,26645368332

In [11]:
# Financials just shows balance sheet
msft.financials

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Research Development,"20,716,000,000.0000","19,269,000,000.0000","16,876,000,000.0000","14,726,000,000.0000"
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,"71,102,000,000.0000","53,036,000,000.0000","43,688,000,000.0000","36,474,000,000.0000"
Minority Interest,None,None,None,None
Net Income,"61,271,000,000.0000","44,281,000,000.0000","39,240,000,000.0000","16,571,000,000.0000"
Selling General Administrative,"25,224,000,000.0000","24,523,000,000.0000","23,098,000,000.0000","22,223,000,000.0000"
Gross Profit,"115,856,000,000.0000","96,937,000,000.0000","82,933,000,000.0000","72,007,000,000.0000"
Ebit,"69,916,000,000.0000","53,145,000,000.0000","42,959,000,000.0000","35,058,000,000.0000"
Operating Income,"69,916,000,000.0000","53,145,000,000.0000","42,959,000,000.0000","35,058,000,000.0000"
Other Operating Expenses,None,None,None,None
Interest Expense,"-2,330,000,000.0000","-2,591,000,000.0000","-2,686,000,000.0000","-2,733,000,000.0000"
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,"9,831,000,000.0000","8,755,000,000.0000","4,448,000,000.0000","19,903,000,000.0000"
Total Revenue,"168,088,000,000.0000","143,015,000,000.0000","125,843,000,000.0000","110,360,000,000.0000"
Total Operating Expenses,"98,172,000,000.0000","89,870,000,000.0000","82,884,000,000.0000","75,302,000,000.0000"
Cost Of Revenue,"52,232,000,000.0000","46,078,000,000.0000","42,910,000,000.0000","38,353,000,000.0000"
Total Other Income Expense Net,"1,186,000,000.0000","-109,000,000.0000","729,000,000.0000","1,416,000,000.0000"
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,"61,271,000,000.0000","44,281,000,000.0000","39,240,000,000.0000","16,571,000,000.0000"
Net Income Applicable To Common Shares,"61,271,000,000.0000","44,281,000,000.0000","39,240,000,000.0000","16,571,000,000.0000"

In [12]:
msft.shares/1000000

      BasicShares
Year
2018   7,700.0000
2019   7,673.0000
2020   7,610.0000
2021   7,547.0000

## Multiple Tickers

In [13]:
data = yf.download(["SPY", "AAPL"], start="2017-01-01", end="2017-04-30",
                   group_by="ticker")

data.head()

[*********************100%***********************]  2 of 2 completed

              AAPL                                                   SPY  \
              Open    High     Low   Close Adj Close     Volume     Open
Date
2017-01-03 28.9500 29.0825 28.6900 29.0375   27.2576  115127600 225.0400
2017-01-04 28.9625 29.1275 28.9375 29.0050   27.2271   84472400 225.6200
2017-01-05 28.9800 29.2150 28.9525 29.1525   27.3656   88774400 226.2700
2017-01-06 29.1950 29.5400 29.1175 29.4775   27.6707  127007600 226.5300
2017-01-09 29.4875 29.8575 29.4850 29.7475   27.9241  134247600 226.9100


               High      Low    Close Adj Close    Volume
Date
2017-01-03 225.8300 223.8800 225.2400  205.5091  91366500
2017-01-04 226.7500 225.6100 226.5800  206.7317  78744400
2017-01-05 226.5800 225.4800 226.4000  206.5675  78379000
2017-01-06 227.7500 225.9000 227.2100  207.3065  71559900
2017-01-09 227.0700 226.4200 226.4600  206.6222  46939700